@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

/* Based on meyerweb.com/eric/tools/css/reset (v2.0 | 20110126 | License: public domain) */

	html, body, div, span, applet, object,
	iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite,
	code, del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var, b,
	u, i, center, dl, dt, dd, ol, ul, li, fieldset,
	form, label, legend, table, caption, tbody,
	tfoot, thead, tr, th, td, article, aside,
	canvas, details, embed, figure, figcaption,
	footer, header, hgroup, menu, nav, output, ruby,
	section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure,
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

		blockquote:before, blockquote:after, q:before, q:after {
			content: '';
			content: none;
		}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

	mark {
		background-color: transparent;
		color: inherit;
	}

	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}

	input, select, textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
	}

/* Basic */

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background: #f5f5f5;
	color: #777;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65em;
	letter-spacing: -0.015em;
}

a {
	transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
	border-bottom: dotted 1px;
	color: #e89980;
	text-decoration: none;
}

a:hover {
	border-bottom-color: transparent;
}

strong, b {
	color: #646464;
	font-weight: 400;
}

em, i {
	font-style: italic;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #646464;
	font-weight: 300;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}

h2 {
	font-size: 2.25em;
	line-height: 1.5em;
	letter-spacing: -0.035em;
}

h3 {
	font-size: 1.75em;
	line-height: 1.5em;
	letter-spacing: -0.025em;
}

h4 {
	font-size: 1.1em;
	line-height: 1.5em;
}

h5 {
	font-size: 0.9em;
	line-height: 1.5em;
}

h6 {
	font-size: 0.7em;
	line-height: 1.5em;
}

hr {
	border: 0;
	border-bottom: solid 2px #e5e5e5;
	margin: 2em 0;
}

blockquote {
	border-left: solid 4px #e5e5e5;
	font-style: italic;
	margin: 0 0 2em 0;
	padding: 0.5em 0 0.5em 2em;
}

pre {
	background: #f8f8f8;
	border-radius: 6px;
	border: solid 1px #e5e5e5;
	font-family: monospace;
	font-size: 0.9em;
	line-height: 1.75em;
	margin: 0 0 2em 0;
	overflow-x: auto;
	padding: 1em 1.5em;
}

code {
	background: #f8f8f8;
	border-radius: 6px;
	border: solid 1px #e5e5e5;
	font-family: monospace;
	font-size: 0.9em;
	margin: 0 0.25em;
	padding: 0.25em 0.65em;
}

.align-left {
	text-align: left;
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}




/* Container */

.container {
	margin: 0 auto;
	max-width: calc(100% - 5em);
	width: 60em;
}

.container.xsmall { width: 15em; }
.container.small { width: 30em; }
.container.medium { width: 45em; }
.container.large { width: 75em; }
.container.xlarge { width: 90em; }
.container.max { width: 100%; }

/* Section/Article */

section.special, article.special {
	text-align: center;
}

header.major {
	padding: 1em 0;
	text-align: center;
}

header.major h2 {
	margin: 0;
}

header.major p {
	display: inline-block;
	border-top: solid 2px #e5e5e5;
	color: #777;
	margin: 1.5em 0 0 0;
	padding: 1.5em 0 0 0;
	font-style: normal;
}

/* Box */

	.box {
		background: #fff;
		border-radius: 6px;
		box-shadow: 0 2px 0 0 #e5e5e5;
		margin: 0 0 2em 0;
		padding: 3em;
	}

		.box > :last-child {
			margin-bottom: 0;
		}

		.box.alt {
			background: none !important;
			border-radius: 0 !important;
			box-shadow: none !important;
			margin: 0 0 2em 0;
			padding: 0 !important;
		}

		.box.features .features-row {
			border-top: solid 2px #e5e5e5;
			position: relative;
		}

			.box.features .features-row:after {
				clear: both;
				content: '';
				display: block;
			}

			.box.features .features-row section {
				float: left;
				padding: 3em;
				width: 50%;
			}

				.box.features .features-row section :last-child {
					margin-bottom: 0;
				}

				.box.features .features-row section:nth-child(2n) {
					padding-right: 0;
				}

					.box.features .features-row section:nth-child(2n):before {
						background: #e5e5e5;
						content: '';
						display: block;
						height: 100%;
						margin-left: -3em;
						position: absolute;
						top: 0;
						width: 2px;
					}

				.box.features .features-row section:nth-child(2n-1) {
					padding-left: 0;
				}

			.box.features .features-row:first-child {
				border-top: 0;
			}

				.box.features .features-row:first-child section {
					padding-top: 0;
				}

			.box.features .features-row:last-child {
				padding-bottom: 0;
			}

				.box.features .features-row:last-child section {
					padding-bottom: 0;
				}

		.box.special {
			text-align: center;
		}

		.box .image.featured {
			border-radius: 0;
			display: block;
			margin: 3em 0 3em -3em;
			position: relative;
			width: calc(100% + 6em);
		}

			.box .image.featured img {
				border-radius: 0;
				display: block;
				width: 100%;
			}

			.box .image.featured:first-child {
				border-radius: 6px 6px 0 0;
				margin-bottom: 3em;
				margin-top: -3em;
			}

				.box .image.featured:first-child img {
					border-radius: 6px 6px 0 0;
				}

			.box .image.featured:last-child {
				border-radius: 0 0 6px 6px;
				margin-bottom: -3em;
				margin-top: 3em;
			}

				.box .image.featured:last-child img {
					border-radius: 0 0 6px 6px;
				}


/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3em 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1em);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

/* Table */

	.table-wrapper {
		-webkit-overflow-scrolling: touch;
		overflow-x: auto;
	}

	table {
		margin: 0 0 2em 0;
		width: 100%;
	}

		table tbody tr {
			border: solid 1px #e5e5e5;
			border-left: 0;
			border-right: 0;
		}

			table tbody tr:nth-child(2n + 1) {
				background-color: #f8f8f8;
			}

		table td {
			padding: 0.75em 0.75em;
		}

		table th {
			color: #646464;
			font-size: 0.9em;
			font-weight: 300;
			padding: 0 0.75em 0.75em 0.75em;
			text-align: left;
		}

		table thead {
			border-bottom: solid 2px #e5e5e5;
		}

		table tfoot {
			border-top: solid 2px #e5e5e5;
		}

		table.alt {
			border-collapse: separate;
		}

			table.alt tbody tr td {
				border: solid 1px #e5e5e5;
				border-left-width: 0;
				border-top-width: 0;
			}

				table.alt tbody tr td:first-child {
					border-left-width: 1px;
				}

			table.alt tbody tr:first-child td {
				border-top-width: 1px;
			}

			table.alt thead {
				border-bottom: 0;
			}

			table.alt tfoot {
				border-top: 0;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #666;
		border-radius: 6px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3em;
		line-height: 3em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #737373;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #595959;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
			height: 2.7em;
			line-height: 2.7em;
		}

		input[type="submit"].large,
		input[type="reset"].large,
		input[type="button"].large,
		.button.large {
			font-size: 1.25em;
			height: 2.7em;
			line-height: 2.7em;
		}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		.button.alt {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #e5e5e5;
			color: #777;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			.button.alt:hover {
				background-color: #f8f8f8;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			.button.alt:active {
				background-color: #f0f0f0;
			}

			input[type="submit"].alt.icon:before,
			input[type="reset"].alt.icon:before,
			input[type="button"].alt.icon:before,
			.button.alt.icon:before {
				color: #999;
			}

		input[type="submit"].primary,
		input[type="reset"].primary,
		input[type="button"].primary,
		.button.primary {
			background-color: #e89980;
			color: #ffffff !important;
		}

			input[type="submit"].primary:hover,
			input[type="reset"].primary:hover,
			input[type="button"].primary:hover,
			.button.primary:hover {
				background-color: #ecaa96;
			}

			input[type="submit"].primary:active,
			input[type="reset"].primary:active,
			input[type="button"].primary:active,
			.button.primary:active {
				background-color: #e4886a;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #777 !important;
			box-shadow: inset 0 -0.15em 0 0 rgba(0, 0, 0, 0.15);
			color: #f5f5f5 !important;
			cursor: default;
			opacity: 0.25;
		}

/* Header */

	#page-wrapper {
		padding-top: 3em;
	}

	body.landing #page-wrapper {
		padding-top: 0;
	}

	#header {
		background: #444;
		color: #bbb;
		cursor: default;
		height: 3.25em;
		left: 0;
		line-height: 3.25em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

		#header h1 {
			color: inherit;
			height: inherit;
			left: 1.25em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}

			#header h1 a {
				color: #fff;
				font-weight: 400;
				border: 0;
			}

		#header nav {
			height: inherit;
			line-height: inherit;
			position: absolute;
			right: 0.75em;
			top: 0;
			vertical-align: middle;
		}

			#header nav > ul {
				list-style: none;
				margin: 0;
				padding-left: 0;
			}

				#header nav > ul > li {
					display: inline-block;
					padding-left: 0;
				}

					#header nav > ul > li > ul {
						display: none;
					}

					#header nav > ul > li a {
						display: inline-block;
						height: 2em;
						line-height: 1.95em;
						padding: 0 1em;
						border-radius: 6px;
					}

					#header nav > ul > li a:not(.button) {
						color: #fff;
						display: inline-block;
						text-decoration: none;
						border: 0;
					}

						#header nav > ul > li a:not(.button).icon:before {
							color: #999;
							margin-right: 0.5em;
						}

					#header nav > ul > li:first-child {
						margin-left: 0;
					}

					#header nav > ul > li.active a:not(.button) {
						background-color: rgba(153, 153, 153, 0.25);
					}

					#header nav > ul > li .button {
						margin: 0 0 0 0.5em;
						position: relative;
					}

		#header input[type="submit"],
		#header input[type="reset"],
		#header input[type="button"],
		#header .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px #999;
			color: #fff;
		}

			#header input[type="submit"]:hover,
			#header input[type="reset"]:hover,
			#header input[type="button"]:hover,
			#header .button:hover {
				background-color: rgba(153, 153, 153, 0.25);
			}

			#header input[type="submit"]:active,
			#header input[type="reset"]:active,
			#header input[type="button"]:active,
			#header .button:active {
				background-color: rgba(153, 153, 153, 0.5);
			}

		#header .container {
			position: relative;
		}

			#header .container h1 {
				left: 0;
			}

			#header .container nav {
				right: 0;
			}

		#header.reveal {
			-moz-animation: reveal-header 0.5s;
			-webkit-animation: reveal-header 0.5s;
			-ms-animation: reveal-header 0.5s;
			animation: reveal-header 0.5s;
		}

		#header.alt {
			-moz-animation: none;
			-webkit-animation: none;
			-ms-animation: none;
			animation: none;
			background: none;
			color: rgba(255, 255, 255, 0.75);
			position: absolute;
		}

			#header.alt nav > ul > li a:not(.button).icon:before {
				color: rgba(255, 255, 255, 0.75);
			}

			#header.alt nav > ul > li.active a:not(.button) {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#header.alt input[type="submit"],
			#header.alt input[type="reset"],
			#header.alt input[type="button"],
			#header.alt .button {
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
			}

				#header.alt input[type="submit"]:hover,
				#header.alt input[type="reset"]:hover,
				#header.alt input[type="button"]:hover,
				#header.alt .button:hover {
					background-color: rgba(255, 255, 255, 0.1);
				}

				#header.alt input[type="submit"]:active,
				#header.alt input[type="reset"]:active,
				#header.alt input[type="button"]:active,
				#header.alt .button:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

	

/* Banner */

	#banner {
		background-attachment: scroll,							fixed;
		background-color: #666;
		background-image: url("/img/overlay.png"), url("/img/banner.jpg");
		background-position: top left,						center center;
		background-repeat: repeat,							no-repeat;
		background-size: auto,							cover;
		color: #fff;
		padding: 12em 0 20em 0;
		text-align: center;
	}

		#banner :last-child {
			margin-bottom: 0;
		}

		#banner h2, #banner h3, #banner h4, #banner h5, #banner h6 {
			color: #fff;
		}

		#banner h2 {
			font-size: 3.5em;
			line-height: 1em;
			margin: 0 0 0.5em 0;
			padding: 0;
		}

		#banner p {
			font-size: 1.25em;
			margin-bottom: 1.75em;
		}

		#banner input[type="submit"],
		#banner input[type="reset"],
		#banner input[type="button"],
		#banner .button {
			background-color: transparent;
			box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.5);
			color: #fff;
			min-width: 12em;
		}

			#banner input[type="submit"]:hover,
			#banner input[type="reset"]:hover,
			#banner input[type="button"]:hover,
			#banner .button:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}

			#banner input[type="submit"]:active,
			#banner input[type="reset"]:active,
			#banner input[type="button"]:active,
			#banner .button:active {
				background-color: rgba(255, 255, 255, 0.2);
			}

			#banner input[type="submit"].primary,
			#banner input[type="reset"].primary,
			#banner input[type="button"].primary,
			#banner .button.primary {
				background: #fff;
				color: #666 !important;
			}

/* Main */

	#main {
		padding: 4em 0;
	}

		#main > header {
			text-align: center;
			margin: 0 0 3em 0;
		}

			#main > header h2 {
				font-size: 2.75em;
				margin: 0;
			}

			#main > header p {
				border-top: solid 2px #e5e5e5;
				color: #777;
				display: inline-block;
				font-style: normal;
				margin: 1em 0 0 0;
				padding: 1em 0 1.25em 0;
			}

	body.landing #main {
		margin-top: -14em;
	}

/* Wide */

	@media screen and (max-width: 1680px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 13pt;
			}

		/* Banner */

			#banner {
				padding: 10em 0 18em 0;
			}

	}

/* Create Container */
.create-container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-container label {
    display: block;
    margin-bottom: 15px;
}

.create-container input[type="text"],
.create-container select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1em;
    box-sizing: border-box; /* To include padding and border in width calculation */
}

.create-container select {
	appearance: none;         /* Standard */
	background: url('data:image/svg+xml;charset=US-ASCII,<svg%20xmlns="http://www.w3.org/2000/svg"%20viewBox="0%200%204%205"><path%20fill="none"%20stroke="black"%20stroke-width="1"%20d="M0,0%20L2,2%20L4,0" /></svg>') no-repeat right 10px center;
	background-size: 10px 10px;
	padding-right: 30px; /* For dropdown icon spacing */
}

.create-container input[type="text"]:focus,
.create-container select:focus {
    border-color: #e89980;
    outline: none;
}

.create-container input[type="text"] {
    height: 2.5em; /* Adjust height for text input */
}

.create-container select {
    height: 2.5em; /* Adjust height for select */
}

.create-container select option {
    padding: 10px;
}

.create-container label {
    font-size: 1em;
    color: #333;
}

.create-container label span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.create-container input[type="submit"].primary {
    background-color: #e89980;
    color: #ffffff !important;
    border: none;
    cursor: pointer;
}

.create-container input[type="submit"].primary:hover {
    background-color: #ecaa96;
}

.create-container input[type="submit"].primary:active {
    background-color: #e4886a;
}

/* Alert */
.alert {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #444; /* Dark background */
	color: #bbb; /* Light text color */
	border: 1px solid #999; /* Border color similar to header */
	padding: 15px;
	border-radius: 6px; /* Rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 9999;
	display: none;
}

.alert p {
	margin: 0;
}

.alert button {
	margin-top: 10px;
	padding: 8px 15px;
	background-color: transparent;
	color: #fff;
	border: 1px solid #999; /* Border matching header button style */
	border-radius: 6px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.alert button:hover {
	background-color: rgba(153, 153, 153, 0.25); /* Hover effect */
}

.alert button:active {
	background-color: rgba(153, 153, 153, 0.5); /* Active effect */
}

/* Modal */
.modal {
	display: none; /* 숨김 상태로 시작 */
	position: fixed; /* 고정 위치 */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
	justify-content: center;
	align-items: center;
}
.modal-content h4 {
	color: whitesmoke; /* Light text color */
}

.modal-content {
	background-color: #444;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	width: 80%;
	max-width: 400px;
	text-align: center;
}

.modal-content select {
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	background-color: #333;
	color: #fff;
	border: 1px solid #999; /* Border matching the theme */
	border-radius: 6px;
}

.modal-content button {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: transparent;
	color: #fff;
	border-radius: 6px;
	border: 1px solid #999; /* Border similar to header button */
	cursor: pointer;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.modal-content button.close {
	background-color: transparent;
}

.modal-content button.close:hover {
	background-color: rgba(153, 153, 153, 0.25);
}

.modal-content button.match {
	background-color: transparent;
	border-color: #28a745; /* Green border for match button */
}

.modal-content button.match:hover {
	background-color: rgba(40, 167, 69, 0.25); /* Green hover effect */
}

/* Message Area */
.msgArea {
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 15px;
	margin-top: 20px;
	max-height: 600px;
	overflow-y: auto;
	background: linear-gradient(to bottom, #fff, #f9f9f9); /* 고급스러운 그라데이션 배경 */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

/* Individual message styling */
.msgArea div {
	margin-bottom: 15px;
	border-radius: 10px;
	padding: 10px;
	word-wrap: break-word; /* 긴 메시지가 있을 경우 줄 바꿈 처리 */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* 메시지 박스에 음영 추가 */
}

/* User's message alignment */
.ownMessage {
	background: linear-gradient(to right, #333, #555); /* 검정 계열의 그라데이션 배경 */
	color: #fff;
	border-radius: 10px;
	padding: 10px;
	margin-left: auto; /* 오른쪽으로 정렬 */
	max-width: 50%; /* 최대 너비 조정 */
	text-align: right; /* 오른쪽 정렬 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 메시지 박스에 부드러운 음영 추가 */
}

.otherMessage {
	background: linear-gradient(to right, #f0f0f0, #e0e0e0); /* 회색 계열의 그라데이션 배경 */
	color: #333;
	border-radius: 10px;
	padding: 10px;
	margin-right: auto; /* 왼쪽으로 정렬 */
	max-width: 50%; /* 최대 너비 조정 */
	text-align: left; /* 왼쪽 정렬 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 메시지 박스에 부드러운 음영 추가 */
}

/* GPT's message styling */
.gptMessage {
	background: linear-gradient(to right, #FFE49BFF, #fae3aa); /* 고급스러운 그라데이션 배경 */
	color: #333;
	border-radius: 10px;
	padding: 10px;
	margin-right: auto; /* 왼쪽으로 정렬 */
	max-width: 50%; /* 최대 너비 조정 */
	text-align: left; /* 왼쪽 정렬 */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* 메시지 박스에 부드러운 음영 추가 */
}


/* Input Area */
.inputArea {
	margin-top: 20px;
	display: flex;
	align-items: center;
}

/* Content box */
.content {
	flex: 1;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	margin-right: 10px;
	background-color: #fff;
}

/* Buttons */
.sendBtn, .quit, .translationButton {
	padding: 10px 20px;
	border: none;
	border-radius: 6px;
	background: linear-gradient(135deg, #666, #444); /* 그라데이션 배경 추가 */
	color: #fff;
	cursor: pointer;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sendBtn:hover, .quit:hover, .translationButton:hover {
	background: linear-gradient(135deg, #737373, #555); /* 호버 시 그라데이션 색상 변경 */
}

.sendBtn:active, .quit:active, .translationButton:active {
	background: linear-gradient(135deg, #595959, #333); /* 클릭 시 그라데이션 색상 변경 */
}

/* Rating */
.rating {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4); /* Dark overlay */
	padding-top: 60px;
}

.rating-content {
	background-color: #444; /* Dark background */
	margin: 5% auto;
	padding: 20px;
	border: 1px solid #999; /* Light border */
	width: 80%;
	border-radius: 6px; /* Rounded corners */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.rating-content h2 {
	color: whitesmoke; /* Light text color */
	margin-top: 0; /* Remove default margin */
	margin-bottom: 20px; /* Space below the heading */
}

.rating-content fieldset {
	display: inline-block; /* Only the rating area occupies space */
	border: 0; /* Remove fieldset border */
}

.rating-content input[type=radio] {
	display: none; /* Hide radio buttons */
}

.rating-content label {
	font-size: 3em; /* Emoji size */
	color: transparent; /* Hide default emoji color */
	text-shadow: 0 0 0 #bbb; /* Light color for emoji */
}

.rating-content label:hover {
	text-shadow: 0 0 0 #3edad8; /* Hover color */
}

.rating-content label:hover ~ label {
	text-shadow: 0 0 0 #3edad8; /* Hover effect on subsequent emojis */
}

.rating-content fieldset {
	direction: rtl; /* Reverse emoji order */
}

.rating-content input[type=radio]:checked ~ label {
	text-shadow: 0 0 0 #3edad8; /* Checked color */
}

/* Submit Button */
.rating-content button {
	background-color: #666; /* Dark background matching .alert */
	color: #fff; /* White text color */
	border: 1px solid #999; /* Border similar to alert */
	padding: 8px 15px; /* Padding for button */
	border-radius: 6px; /* Rounded corners */
	cursor: pointer; /* Pointer cursor on hover */
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Smooth transition */
}

.rating-content button:hover {
	background-color: #737373; /* Hover effect matching .alert button */
}

.rating-content button:active {
	background-color: #595959; /* Active effect matching .alert button */
}

/* 스크롤바 전체 영역 */
.msgArea::-webkit-scrollbar {
	width: 12px; /* 스크롤바 너비 */
	height: 12px; /* 가로 스크롤바 높이 */
}

/* 스크롤바 막대 부분 */
.msgArea::-webkit-scrollbar-thumb {
	background: #616161; /* 스크롤바 막대 색상 */
	border: 2px solid #252424; /* 스크롤바 막대 테두리 */
	border-radius: 12px; /* 스크롤바 막대 모서리 둥글게 */
}

/* 스크롤바 배경 부분 */
.msgArea::-webkit-scrollbar-track {
	background: #f1f1f1; /* 스크롤바 배경 색상 */
}


/* 메뉴 스타일 */
#menu {
	list-style: none; /* 기본 목록 스타일 제거 */
	padding: 0; /* 패딩 제거 */
	margin: 0; /* 마진 제거 */
	display: flex; /* 플렉스박스를 이용하여 수평 정렬 */
}

#menu li {
	margin-right: 3px; /* 버튼 사이의 간격 */
}

#menu button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	background-color: #666; /* 배경 색상 */
	border-radius: 6px; /* 모서리 둥글게 */
	border: none; /* 경계선 제거 */
	color: #ffffff; /* 텍스트 색상 */
	cursor: pointer; /* 마우스 포인터 */
	padding: 0 1em; /* 패딩 */
	height: 3em; /* 높이 */
	line-height: 3em; /* 수직 정렬을 위한 라인 높이 */
	font-weight: 400; /* 글자 두께 */
	white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	margin-left: 0.2em;
	font-size: 9px;
}

#menu button:hover {
	background-color: #737373; /* hover 상태의 배경 색상 */
}

#menu button:active {
	background-color: #595959; /* 클릭 상태의 배경 색상 */
}

/* 사이드 메뉴 스타일 */
#friend-management {
	position: fixed;       /* 고정된 위치 */
	left: 0;               /* 화면의 왼쪽에 고정 */
	top: 0;                /* 화면의 위쪽에 고정 */
	width: 330px;          /* 너비를 고정 */
	height: 600px;         /* 화면 전체 높이 */
	background-color: #f4f4f4; /* 배경색 */
	box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* 살짝 그림자 */
	padding: 20px;         /* 내부 여백 */
	z-index: 1000;         /* 다른 요소들 위에 배치 */
	overflow-y: auto;      /* 목록이 길어지면 스크롤 */
	display: none; /* 기본적으로 숨김 */
	border-radius: 20px
}

#friend-management h2 {
	font-size: 24px;
	margin-bottom: 20px;
	color: black;
}

#friendTable {
	width: 100%;
	border-collapse: collapse;
}

#friendTable th, #friendTable td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

#friendTable th {
	background-color: #f0f0f0;
}

#friendTable tbody tr:hover {
	background-color: #f9f9f9;
}

/* 친구 추가 입력 필드 스타일 */
#friendEmail {
	width: 70%; /* 너비를 100%로 설정하여 전체 영역 사용 */
	padding: 0.5em; /* 위아래 패딩 */
	border-radius: 6px; /* 모서리 둥글게 */
	border: 1px solid #ccc; /* 연한 회색 테두리 */
	font-size: 1em; /* 폰트 크기 */
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* 약한 그림자 효과 */
	transition: border-color 0.2s ease-in-out; /* 테두리 색상 변화 효과 */
}

/* 포커스 시 테두리 색상 변화 */
#friendEmail:focus {
	border-color: #666; /* 포커스 시 테두리 색상 변경 */
	outline: none; /* 기본 포커스 아웃라인 제거 */
}

/* 친구 추가 버튼 스타일 */
#friendEmail + button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	background-color: #666; /* 배경 색상 */
	border-radius: 6px; /* 모서리 둥글게 */
	border: none; /* 경계선 제거 */
	color: #ffffff; /* 텍스트 색상 */
	cursor: pointer; /* 마우스 포인터 */
	padding: 0.5em 1em; /* 위아래, 좌우 패딩 */
	height: auto; /* 자동 높이 */
	line-height: normal; /* 정상 라인 높이 */
	font-weight: 400; /* 글자 두께 */
	margin-left: 0.5em; /* 입력 필드와 버튼 사이의 간격 */
	margin-top: 1em;
}

/* 버튼 호버 및 액티브 상태 스타일 */
#friendEmail + button:hover {
	background-color: #737373; /* 호버 시 배경 색상 */
}

#friendEmail + button:active {
	background-color: #595959; /* 클릭 시 배경 색상 */
}

#addFriendForm label {
	color: #595959;
}

/* 특정 테이블에만 적용할 경우 */
#friendTable td, #requestTable td, #invitesTable td {
	color: black;
	font-size: 0.8em;
}

/* 버튼 스타일 */
#friend-requests button, #friend-invites button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

	background-color: #b7b7b7; /* 배경 색상 */
	border-radius: 6px; /* 모서리 둥글게 */
	border: none; /* 경계선 제거 */
	color: #2e2e2e; /* 텍스트 색상 */
	cursor: pointer; /* 마우스 포인터 */
	padding: 0.5em 0.5em; /* 위아래, 좌우 패딩 */
	height: auto; /* 자동 높이 */
	line-height: normal; /* 정상 라인 높이 */
	font-weight: 200; /* 글자 두께 */
	margin-left: 0.1em; /* 입력 필드와 버튼 사이의 간격 */
	margin-top: 0.1em;
}

#friend-requests button:hover {
	background-color: #e6e6e6; /* 호버 시 배경 색상 */
}

/* User Info Span */
.user-info {
	font-size: 14px;
	color: #333; /* 다크 컬러 */
	margin-right: 10px; /* 버튼과의 간격 */
}

/* Add Friend Button */
.add-friend-btn {
	padding: 5px 10px; /* 작은 패딩 */
	border: none;
	border-radius: 6px;
	background: linear-gradient(135deg, #666, #444); /* 기존 그라데이션 배경 */
	color: #fff;
	cursor: pointer;
	font-size: 12px; /* 작게 설정 */
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.add-friend-btn:hover {
	background: linear-gradient(135deg, #737373, #555); /* 호버 시 그라데이션 색상 변경 */
}

.add-friend-btn:active {
	background: linear-gradient(135deg, #595959, #333); /* 클릭 시 색상 변경 */
}
/* 필터 레이블 스타일 */
#languageFilterContainer label {
	color: #595959; /* 텍스트 색상 */
	font-size: 1em; /* 폰트 크기 */
}

/* 필터 선택 박스 스타일 */
#languageFilter {
	padding: 0.5em; /* 여백 추가 */
	border-radius: 6px; /* 둥근 모서리 */
	border: 1px solid #ccc; /* 회색 테두리 */
	background-color: #f4f4f4; /* 배경색 */
	color: #333; /* 글자 색 */
	font-size: 0.7em; /* 폰트 크기 */
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* 안쪽 그림자 */
	transition: border-color 0.2s ease-in-out; /* 테두리 색상 변화 효과 */
	margin-left: 1em; /* 좌측 여백 */
	text-align: center;
}

#languageFilter:focus {
	border-color: #666; /* 포커스 시 테두리 색상 변경 */
	outline: none; /* 포커스 아웃라인 제거 */
}

/* 필터 div 스타일 */
#languageFilterContainer {
	display: flex; /* 레이블과 선택 요소를 수평으로 정렬 */
	align-items: center; /* 수직 중앙 정렬 */
	margin-bottom: 1em; /* 하단 여백 */
	margin-left: 1em;
}
.no-users {
	color: #999; /* 텍스트 색상 */
	font-size: 1.2em; /* 폰트 크기 */
	text-align: center; /* 중앙 정렬 */
	padding: 1em 0; /* 위아래 여백 */
}

.user-item {
	display: flex;
	align-items: center; /* 세로 가운데 정렬 */
	margin: 3px 0;
}