<!DOCTYPE HTML>
<html>
<head>
    <title>Malrang Malrang</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/css/main.css?dt=20240918"/>
</head>
<body class="landing is-preload" onload="userInfo()">
<div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <nav id="nav">
            <ul>
                <li><a href="/chat/chatList">Home</a></li>
                <li><a href="/profile">Profile Settings</a></li>
                <li><a href="/logout" class="button">Sign Out</a></li>
            </ul>
        </nav>
    </header>

    <!-- Banner -->
    <section id="banner">
        <h2>Malrang Malrang</h2>
        <p>Start chatting in various languages right now!</p>
        <ul class="actions special">
            <li><a class="button primary" onclick="createRoom()">Create Room</a></li>
            <li><a class="button" onclick="showLanguageModal()">Start Matching</a></li>
        </ul>

        <!-- Create Room Modal -->
        <div class="create-container">
            <label for="roomName">
                <input id="roomName" type="text" name="name" placeholder="Room Name">
            </label>

            <label for="roomLanguage">
                <select id="roomLanguage" name="language">
                    <option value="korean">Korean</option>
                    <option value="english">English</option>
                    <option value="chinese">Chinese</option>
                    <option value="spanish">Spanish</option>
                    <option value="french">French</option>
                    <option value="japanese">Japanese</option>
                    <option value="hindi">Hindi</option>
                    <!-- 다른 언어들도 필요에 따라 추가할 수 있습니다 -->
                </select>
            </label>


            <label for="roomLanguageLevel">
                <select id="roomLanguageLevel" name="languageLevel">
                    <option value="beginner">Beginner</option>
                    <option value="intermediate">Intermediate</option>
                    <option value="advanced">Advanced</option>
                </select>
            </label>
        </div>

    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <!-- Table -->
            <table>
                <thead>
                <tr>
                    <th>Room Name</th>
                    <th style="width: 50%;">Room ID</th>
                    <th>Language</th>
                    <th>Language Level</th>
                    <th>Number of Participants</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${roomList}">
                    <td>
                        <div class="room-info">
                            <!-- 방이 꽉 차지 않았을 때만 링크를 활성화 -->
                            <a th:if="${room.roomHeadCount < 2}"
                               th:href="@{'/chat/chatRoom?roomId=' + ${room.roomId}}"
                               th:text="${room.roomName}"></a>
                            <!-- 방이 꽉 찼을 때 링크를 비활성화 -->
                            <span th:if="${room.roomHeadCount >= 2}"
                                  th:text="${room.roomName}"></span>
                        </div>
                    </td>
                    <td th:text="${room.roomId}"></td>
                    <td th:text="${room.roomLanguage}"></td>
                    <td th:text="${room.roomLanguageLevel}"></td>
                    <td th:text="${room.roomHeadCount >= 2 ? 'Full' : room.roomHeadCount}"></td>
                </tr>
                </tbody>
            </table>
            <header class="major">
                <h2>Malrang Malrang is a chat service for connecting with people worldwide in various languages.</h2>
                <p>We support English, Korean, Japanese, Chinese, Spanish, and French.</p>
            </header>
            <span class="image featured"><img src="/img/pic01.jpg" alt=""/></span>
        </section>
    </section>

    <div class="modal" id="languageModal">
        <div class="modal-content">
            <h4>Please select the language to use in the chat room.</h4>
            <select id="modalLanguage">
                <option value="korean">Korean</option>
                <option value="english">English</option>
                <option value="chinese">Chinese</option>
                <option value="spanish">Spanish</option>
                <option value="french">French</option>
                <option value="japanese">Japanese</option>
            </select>
            <button class="match" onclick="matchUsers()">Start Matching</button>
            <button class="close" onclick="closeLanguageModal()">Cancel Matching</button>
        </div>
    </div>

    <div class="alert" id="matchingMessage">
        <p>Matching in progress. Please wait a moment...</p>
        <button onclick="cancelMatch()">Cancel Matching</button>
    </div>

</div>
<script src="/js/article.js?testNm=1"></script>
<script src="/js/token.js"></script>
</body>
</html>
