<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css?dt=20240918"/>
</head>
<body>


<div id="user_email" style="display: none"></div>
<div id="user_language" style="display: none"></div>
<div class="container">
    <div id="user_name" style="display: none;">User Name</div>
    <div>
        <h2>Chat Room</h2>
        <a href="javascript:void(0)" onclick="loadInviteList(urlParams.get('roomId'))" style="position: absolute; top: 10px; right: 10px; text-decoration: none; font-weight: bold;">Invite Friend</a>
        <a href="javascript:void(0)" onclick="recommendTopic(urlParams.get('roomInterest'), urlParams.get('roomLanguage'))" style="position: absolute; top: 10px; right: 130px; text-decoration: none; font-weight: bold;">Recommend a topic</a>
            <!-- 친구 목록 섹션 -->
            <section id="friend-management" class="section-content" style="display: none;">
                <header class="major">
                    <h2>Your Friend List</h2>
                </header>
                <table id="friendTable">
                    <thead>
                    <tr>
                        <th>Friend Email</th>
                        <th>Status</th>
                        <th>Invite</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 친구 목록이 여기에 동적으로 추가될 예정 -->
                    </tbody>
                </table>
            </section>

        <div class="msgArea"></div>
    </div>
    <div class="inputArea">
        <input type="text" placeholder="Enter your message." class="content" id="messageInput">
        <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">Send</button>
        <button type="button" value="방나가기" class="quit" onclick="quit()">Quit</button>
    </div>

    <!-- 평가 모달 -->
    <div id="ratingModal" class="rating">
        <div class="rating-content">
            <h2>Rate your chat partner's manners!</h2>
            <fieldset>
                <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
            </fieldset>
            <button type="button" onclick="submitRating(urlParams.get('roomId'))">Submit</button>
        </div>
    </div>

</div>

<script src="/js/userInfo.js?testNm=1"></script>
<script src="/js/rating.js?testNm=1"></script>
<script src="/js/chatRoom.js?testNm=1"></script>
<script src="/js/invite.js?testNm=1" defer></script>

<script>
    // WebSocket 연결을 위한 변수
    // let socket = new WebSocket("ws://localhost:8080/ws/chat");
    let socket = new WebSocket("ws://malrangmalrang.duckdns.org:8080/ws/chat");
    let urlParams = new URLSearchParams(window.location.search);

    // WebSocket 연결이 열렸을 때 실행되는 함수
    socket.onopen = function (e) {
        console.log('서버와 연결되었습니다.');
        // 채팅방 입장 메시지를 전송합니다.
        userInfo(() => {
            enterRoom(socket);
        });
    };

    // WebSocket 연결이 닫혔을 때 실행되는 함수
    socket.onclose = function (e) {
        console.log('연결이 종료되었습니다.');
    };

    // WebSocket 에러가 발생했을 때 실행되는 함수
    socket.onerror = function (e) {
        console.log('에러 발생: ', e);
    };

    // WebSocket으로 메시지를 받았을 때 실행되는 함수
    socket.onmessage = function (e) {
        console.log('메시지 수신: ', e.data);
        // 메시지를 화면에 표시합니다.
        let data = JSON.parse(e.data);
        let msgArea = document.querySelector('.msgArea');
        let newMsg = document.createElement('div');

        if (data.type === "ENTER" || data.type === 'QUIT') {
            newMsg.innerText = data.message;
        } else if (data.type === "TALK") {
            // 본인의 메시지와 타인의 메시지를 구분하여 스타일을 추가합니다.
            newMsg.innerText = data.sender + ': ' + data.msg;
            if (data.sender === document.getElementById('user_name').innerText) {
                newMsg.classList.add('ownMessage');
            } else if (data.sender === "AI moderator bot") {
                newMsg.classList.add('gptMessage');
            } else {
                newMsg.classList.add('otherMessage');
            }
        }
        msgArea.appendChild(newMsg);
    };

    // 채팅방 입장 함수
    async function enterRoom(socket) {
        let userName = document.getElementById('user_name').innerText;
        let enterMsg = {"type": "ENTER", "roomId": urlParams.get('roomId'), "sender": userName, "msg": ""};
        // JSON 형태로 메시지를 전송합니다.
        socket.send(JSON.stringify(enterMsg));
        // 인원수 추가
        await setRoomHeadCount(urlParams.get('roomId'), 'join');
    }

    //주제 추천 함수
    async function recommendTopic(interest, language) {
        let body = null
        try {
            if (interest=== 'All'){
                body = JSON.stringify({
                    question: "Please recommend a discussion topic in " + language + " in one or two sentences. Please make sure to recommend it in " + language + " language."
                });
            } else {
                body = JSON.stringify({
                    question: "Please recommend a discussion topic based on the " + interest + " field in " + language + " in one or two sentences. Please make sure to recommend it in " + language + " language."
                });
            }

            const response = await fetch('/chat-gpt/question', {
                method: 'POST',
                headers: {
                    Authorization: 'Bearer ' + localStorage.getItem('access_token'),
                    'Content-Type': 'application/json',
                },
                body: body,
            });

            const json = await response.json();
            talkMsg = {
                "type": "TALK",
                "roomId": urlParams.get('roomId'),
                "sender": "AI moderator bot",
                "msg": json.answer
            };
            socket.send(JSON.stringify(talkMsg));
        } catch (error) {
            console.error('Error:', error);
            alert('주제 추천에 실패했습니다.');
        }
    }

    // 메시지 전송 함수
    async function sendMsg() {
        let userName = document.getElementById('user_name').innerText;
        let content = document.querySelector('.content').value;
        let user_language = document.getElementById('user_language').innerText;
        let isOffensive = await detectAggressiveMessage(content, urlParams.get('roomId'), user_language);
        let translatedContent = await translateMessage(content, urlParams.get('roomId'), user_language);
        let isIrrelevant = await detectIrrelevantMessage(translatedContent, urlParams.get('roomId'), user_language, urlParams.get('roomInterest'));
        let talkMsg = null;

        if (isOffensive === true) {
            talkMsg = {"type": "TALK", "roomId": urlParams.get('roomId'), "sender": userName, "msg": "*****"};
            socket.send(JSON.stringify(talkMsg));
            talkMsg = {
                "type": "TALK",
                "roomId": urlParams.get('roomId'),
                "sender": "AI moderator bot",
                "msg": "Inappropriate statement has been detected."
            };
            socket.send(JSON.stringify(talkMsg));
            return;
        } else {
            talkMsg = {"type": "TALK", "roomId": urlParams.get('roomId'), "sender": userName, "msg": translatedContent};
            socket.send(JSON.stringify(talkMsg));
        }

        if (isIrrelevant === true) {
            talkMsg = {
                "type": "TALK",
                "roomId": urlParams.get('roomId'),
                "sender": "AI moderator bot",
                "msg": "This statement does not fit the " + urlParams.get('roomInterest') + " category or disrupts the flow of the debate. Please reconsider."
            };
            socket.send(JSON.stringify(talkMsg));
        }
    }

    // 채팅방 나가기 함수
    async function quit() {
        let userName = document.getElementById('user_name').innerText;
        let quitMsg = {"type": "QUIT", "roomId": urlParams.get('roomId'), "sender": userName, "msg": ""};

        // JSON 형태로 메시지를 전송하고 모달을 엽니다.
        socket.send(JSON.stringify(quitMsg));
        openRatingModal();

        // Rating modal에서 평가가 제출될 때까지 대기합니다.
        await new Promise(resolve => {
            // 평가 모달의 Submit 버튼이 클릭될 때 resolve를 호출합니다.
            document.querySelector('#ratingModal button').addEventListener('click', function handleSubmit() {
                document.querySelector('#ratingModal button').removeEventListener('click', handleSubmit);
                resolve();
            }, { once: true });
        });

        // 평가가 제출된 후 소켓을 종료합니다.
        setTimeout(() => {
            socket.close();
        }, 500);  //
    }
</script>

</body>
</html>