<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/chatRoom.css">
</head>
<body>
<div id="user_email" style="display: none"></div>
<div id="user_language" style="display: none"></div>
<div class="container">
    <div id="user_name" style="display: none;">User Name</div>
    <div>
        <h2>Chat Room</h2>
        <div class="msgArea"></div>
    </div>
    <div class="inputArea">
        <input type="text" placeholder="메시지를 입력하세요." class="content">
        <button type="button" value="전송" class="sendBtn" onclick="sendMsg()">Send</button>
        <button type="button" value="방나가기" class="quit" onclick="quit()">Quit</button>
    </div>

    <!-- 평가 모달 -->
    <div id="ratingModal" class="modal">
        <div class="modal-content">
            <h2>이번 채팅에서의 상대방의 매너 지수를 평가해주세요!</h2>
            <fieldset>
                <input type="radio" name="rating" value="5" id="rate1"><label for="rate1">⭐</label>
                <input type="radio" name="rating" value="4" id="rate2"><label for="rate2">⭐</label>
                <input type="radio" name="rating" value="3" id="rate3"><label for="rate3">⭐</label>
                <input type="radio" name="rating" value="2" id="rate4"><label for="rate4">⭐</label>
                <input type="radio" name="rating" value="1" id="rate5"><label for="rate5">⭐</label>
            </fieldset>
            <button type="button" onclick="submitRating(urlParams.get('roomId'))">Submit</button>
        </div>
    </div>

</div>

<script src="/js/article.js"></script>
<script>
    // WebSocket 연결을 위한 변수
    let socket = new WebSocket("ws://localhost:8080/ws/chat");
    let urlParams = new URLSearchParams(window.location.search);

    // WebSocket 연결이 열렸을 때 실행되는 함수
    socket.onopen = function (e) {
        console.log('서버와 연결되었습니다.');
        // 채팅방 입장 메시지를 전송합니다.
        userInfo(() => {
            enterRoom(socket);
        });
    };

    // WebSocket 연결이 닫혔을 때 실행되는 함수
    socket.onclose = function (e) {
        console.log('연결이 종료되었습니다.');
    };

    // WebSocket 에러가 발생했을 때 실행되는 함수
    socket.onerror = function (e) {
        console.log('에러 발생: ', e);
    };

    // WebSocket으로 메시지를 받았을 때 실행되는 함수
    socket.onmessage = function (e) {
        console.log('메시지 수신: ', e.data);
        // 메시지를 화면에 표시합니다.
        let data = JSON.parse(e.data);
        let msgArea = document.querySelector('.msgArea');
        let newMsg = document.createElement('div');

        if (data.type === "ENTER" || data.type === 'QUIT') {
            newMsg.innerText = data.message;
        } else if (data.type === "TALK") {
            // 본인의 메시지와 타인의 메시지를 구분하여 스타일을 추가합니다.
            newMsg.innerText = data.sender + ': ' + data.msg;
            if (data.sender === document.getElementById('user_name').innerText) {
                newMsg.classList.add('ownMessage');
            } else if (data.sender === "GPT") {
                newMsg.classList.add('gptMessage');
            } else {
                newMsg.classList.add('otherMessage');
            }
        }
        msgArea.appendChild(newMsg);
    };

    // 채팅방 입장 함수
    async function enterRoom(socket) {
        let userName = document.getElementById('user_name').innerText;
        let enterMsg = {"type": "ENTER", "roomId": urlParams.get('roomId'), "sender": userName, "msg": ""};
        // JSON 형태로 메시지를 전송합니다.
        socket.send(JSON.stringify(enterMsg));
        // 인원수 추가
        await setRoomHeadCount(urlParams.get('roomId'), 'join');
    }

    // 메시지 전송 함수
    async function sendMsg() {
        let userName = document.getElementById('user_name').innerText;
        let content = document.querySelector('.content').value;
        let language = document.getElementById('user_language').innerText;
        let isOffensive = await detectAggressiveMessage(content, urlParams.get('roomId'), language);
        let talkMsg = null;

        if (isOffensive === true) {
            talkMsg = {"type": "TALK", "roomId": urlParams.get('roomId'), "sender": userName, "msg": "*****"};
            socket.send(JSON.stringify(talkMsg));
            talkMsg = {
                "type": "TALK",
                "roomId": urlParams.get('roomId'),
                "sender": "GPT",
                "msg": "An offensive message has been detected."
            };
            socket.send(JSON.stringify(talkMsg));
            return;
        } else {
            talkMsg = {"type": "TALK", "roomId": urlParams.get('roomId'), "sender": userName, "msg": content};
            socket.send(JSON.stringify(talkMsg));
        }


        let messageArea = document.querySelector('.msgArea');
        let translationButton = document.createElement('button');
        translationButton.innerText = 'Grammar Check';
        translationButton.classList.add('translationButton');
        translationButton.onclick = function () {
            translateMessage(content, urlParams.get('roomId'), language);
        }
        messageArea.insertAdjacentElement('beforeend', translationButton); // 'beforeend' 위치에 버튼을 추가합니다.
    }

    // 채팅방 나가기 함수
    async function quit() {
        let userName = document.getElementById('user_name').innerText;
        let quitMsg = {"type": "QUIT", "roomId": urlParams.get('roomId'), "sender": userName, "msg": ""};
        // JSON 형태로 메시지를 전송하고 연결을 종료합니다.
        socket.send(JSON.stringify(quitMsg));
        socket.close();
        openRatingModal();
    }
</script>

</body>
</html>