<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page Not Found</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f9f9f9;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .content {
      text-align: center;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: bold;
    }
  </style>
</head>
<body>
<div class="content">
  <img src="/img/ramb_2.png" alt="Page Not Found">
  <p>Sorry, the page you are looking for cannot be found.</p>
</div>
</body>
</html>